


/*
body {
background-color: #ccc;

background-color: #b5f9d266;
background-image: url("img/Hakomi-Logo.png");
background-repeat: no-repeat;
background-attachment: fixed;


};
*/

/*
verwendet für Hinweis auf der indexmd
 */

#beta {
  font-size: .8rem;
  font-weight: bold;
  background-color: #9c1079;
  border-radius:2rem;
  color: #111199;
  box-shadow: 5px 10px #888888;
  width: 300px;
  height: 50px;
  padding: 0.5rem;
  float: center;
};




.mh_bau {
   font-size: .8rem;
   font-weight: bold;
   background-color: #9c1079;
   border-radius:2rem;
   color: #111199;
   box-shadow: 5px 10px #888888;
   width: 300px;
   height: 50px;
   padding: 0.5rem;
   float: center;
 };

/* 
.mh_list ul li {
    display: block;
  }
  
.mh_list ul li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 0.9rem;
    float: none;
    margin-top: 0.3rem;
    margin-left: 0.9rem;    
    color: rgb(16, 5, 48);
  

}
 */

 .mh_list ul li {
list-style-type: circle;
margin: 0;
padding: 0;
 }





@media print {
  @page { 
    margin: 0;
    background-color:rgb(34, 146, 19);
  }
  body {margin: 1.6cm;}
  .sub-footer-inner{display:none;}
}









// Farben

$farbe-hell-l:   rgba(252, 252, 212, 0.999); // hell-links
$farbe-hell-r:   rgba(214, 255, 239, 0.999); // hell-rechts
$farbe-dunkel-l: rgba(206, 232, 166, 0.999); // dunkel-links
$farbe-dunkel-r: rgba(173, 240, 189, 0.999); // dunkel-rechts
$farbe-mitte:    rgba(203, 255, 194, 0.999); // mitte

$farbe-dunkel-1: rgba(57, 72, 55, 0.91); 
$farbe-dunkel-2: rgba(40, 57, 44, 0.999);
$farbe-dunkel-3: rgba(148, 168, 154, 0.999);

$farbe-hell-1:   rgba(238, 237, 175, 0.999); 
$farbe-hell-2:   rgba(245, 243, 127, 0.999);
$farbe-hell-3:   rgba(148, 168, 154, 0.999);



.header {background-color: $farbe-dunkel-3;}
.intro {background-color: $farbe-hell-l;}

.footer {background-color: $farbe-dunkel-1;}
.sub-footer {background-color: $farbe-dunkel-2;}

.wrapper {background-color: $farbe-hell-l;}
.call {background-color: $farbe-hell-2;}

.feature {background-color: $farbe-hell-l;}
.feature-title {background-color: $farbe-hell-l;}
.featurr-content {background-color: $farbe-hell-l;}

.service {background-color: $farbe-hell-l;}
.service-summary {background-color: $farbe-hell-l;}
.service-content {background-color: $farbe-hell-l;}
.service-title {background-color: $farbe-hell-l;}
.service-content {background-color: $farbe-hell-l;}

 body > div.wrapper > div.strip {background-color: $farbe-hell-1;}


.button {background-color: $farbe-dunkel-1;}
.button-primary {background-color: $farbe-dunkel-2;}
.open {background-color: $farbe-dunkel-2;}





// rundungen
.round-1 {border-radius: 3rem;}
.round-2 {border-radius: 5rem;}
.round-3 {border-radius: 5rem;}
.feature {border-radius: 5rem;}
.call {border-radius: 2rem;}
.service-title {border-radius: 5rem;}



// bilder
// verschibt immernoch den content
.img-l {
  padding: 0px 20px 0px 20px;
  float: left;
  overflow: auto;
}

.img-r {
  padding: 0px 20px 0px 20px;
  float: right;
  overflow: auto;
}




/* .intro::after {
  content: '';
  float: left;
  width: 25%
} */







