@charset "UTF-8";
/*
body {
background-color: #ccc;

background-color: #b5f9d266;
background-image: url("img/Hakomi-Logo.png");
background-repeat: no-repeat;
background-attachment: fixed;


};
*/
/*
verwendet für Hinweis auf der indexmd
 */
#beta {
  font-size: .8rem;
  font-weight: bold;
  background-color: #9c1079;
  border-radius: 2rem;
  color: #111199;
  -webkit-box-shadow: 5px 10px #888888;
          box-shadow: 5px 10px #888888;
  width: 300px;
  height: 50px;
  padding: 0.5rem;
  float: center;
}

.mh_bau {
  font-size: .8rem;
  font-weight: bold;
  background-color: #9c1079;
  border-radius: 2rem;
  color: #111199;
  -webkit-box-shadow: 5px 10px #888888;
          box-shadow: 5px 10px #888888;
  width: 300px;
  height: 50px;
  padding: 0.5rem;
  float: center;
}

/* 
.mh_list ul li {
    display: block;
  }
  
.mh_list ul li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 0.9rem;
    float: none;
    margin-top: 0.3rem;
    margin-left: 0.9rem;    
    color: rgb(16, 5, 48);
  

}
 */
.mh_list ul li {
  list-style-type: circle;
  margin: 0;
  padding: 0;
}

@media print {
  @page {
    margin: 0;
    background-color: #229213;
  }
  body {
    margin: 1.6cm;
  }
  .sub-footer-inner {
    display: none;
  }
}

.header {
  background-color: rgba(148, 168, 154, 0.999);
}

.intro {
  background-color: rgba(252, 252, 212, 0.999);
}

.footer {
  background-color: rgba(57, 72, 55, 0.91);
}

.sub-footer {
  background-color: rgba(40, 57, 44, 0.999);
}

.wrapper {
  background-color: rgba(252, 252, 212, 0.999);
}

.call {
  background-color: rgba(245, 243, 127, 0.999);
}

.feature {
  background-color: rgba(252, 252, 212, 0.999);
}

.feature-title {
  background-color: rgba(252, 252, 212, 0.999);
}

.featurr-content {
  background-color: rgba(252, 252, 212, 0.999);
}

.service {
  background-color: rgba(252, 252, 212, 0.999);
}

.service-summary {
  background-color: rgba(252, 252, 212, 0.999);
}

.service-content {
  background-color: rgba(252, 252, 212, 0.999);
}

.service-title {
  background-color: rgba(252, 252, 212, 0.999);
}

.service-content {
  background-color: rgba(252, 252, 212, 0.999);
}

body > div.wrapper > div.strip {
  background-color: rgba(238, 237, 175, 0.999);
}

.button {
  background-color: rgba(57, 72, 55, 0.91);
}

.button-primary {
  background-color: rgba(40, 57, 44, 0.999);
}

.open {
  background-color: rgba(40, 57, 44, 0.999);
}

.round-1 {
  border-radius: 3rem;
}

.round-2 {
  border-radius: 5rem;
}

.round-3 {
  border-radius: 5rem;
}

.feature {
  border-radius: 5rem;
}

.call {
  border-radius: 2rem;
}

.service-title {
  border-radius: 5rem;
}

.img-l {
  padding: 0px 20px 0px 20px;
  float: left;
  overflow: auto;
}

.img-r {
  padding: 0px 20px 0px 20px;
  float: right;
  overflow: auto;
}

/* .intro::after {
  content: '';
  float: left;
  width: 25%
} */
/*# sourceMappingURL=mhi.css.map */