$primary: #0e0f5f;
$secondary: #f88379;
$black: #2f2f41;
$white: #ffffff;
$steel: rgb(92, 90, 90);
$ghost: #f4f5fb;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 20%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: Helvetica, 'DM Serif Display', serif, -apple-system;
