<div class="service service-summary">
  <div class="service-content">
    <h2 class="service-title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <p>{{ .Summary }}</p>
  </div>
</div>
