{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-medien{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ .Content }}
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img
          class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
          src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ end }}
    </div>
  </div>
</div>

<div class="">
<div class="container pt-5 pb-5 pt-md-8 pb-md-8">
  <div class="row justify-content-center">
     <div class="col-12">
      <h2 class="text-center text-dark mb-3">Hakomi - Erfahrungsorientierte Körper-Psychotherapie</h2>



    </div>
    {{ range .Site.Data.YThakomi }}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {{ if .image }}<div class="feature-image"><img alt="{{ .title }} logo" src="{{ .image }}" /></div> {{ end }}
        <h2 class="feature-title">{{ .title }}</h2>
        <div class="feature-content">{{ .description }}
          <iframe  height="315" src="https://www.youtube.com/embed/{{ .vt }}?start={{ .start }}&end={{ .end }}" frameborder="0"     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

{{ end }}


    <div class="">
    <div class="container pt-5 pb-5 pt-md-8 pb-md-8">
      <div class="row justify-content-center">
         <div class="col-12">
          <h2 class="text-center text-dark mb-3">Dzogchen</h2>
        </div>
        {{ range .Site.Data.YTdzogchen }}
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="feature">
            {{ if .image }}<div class="feature-image"><img alt="{{ .title }} logo" src="{{ .image }}" /></div> {{ end }}
            <h2 class="feature-title">{{ .title }}</h2>
            <div class="feature-content">{{ .description }}
              <iframe  height="315" src="https://www.youtube.com/embed/{{ .vt }}?start={{ .start }}&end={{ .end }}" frameborder="0"     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>

{{ end }}

{{end}}
