<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            {{ if .Site.Data.contact.beta_txt }}
                <li><strong>Hinweis: </strong><span>{{ .Site.Data.contact.beta_txt }}</span></li>
            {{ end }}
                <li><strong>Webmaster-Email: </strong><a href="mailto:{{ .Site.Data.contact.editor_email }}">
                {{ .Site.Data.contact.editor_email }}</a></li>

                <li><strong>Quelle: </strong><a href="{{ .Site.Data.contact.git }}">{{ .Site.Data.contact.git_txt }}</a>
                </li>

                <li><strong>geändert: </strong> {{ .Lastmod.Format "02.01.2006" }}
                </li>

              </ul>

        </div>
      </div>
    </div>
  </div>
</div>
