{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip">
  <div class="container pt-4 pt-md-10">
    <div class="row justify-content-start">
      <div class="col-12 col-md-8">
        <div class="service service-single">
          <h1 class="title">{{.Title}}</h1>
          <div class="content">{{.Content}}


<h2>404 - Seite nicht gefunden</h2>

Sorry, offenbar bin ich hier noch nicht ganz fertig am besten fangen sie vorne noch mal an und klicken auf auf das Seitensymbole oben links ...

<br>

<h3>4xx - Seite könnte auch bedeuten ...</h3>

mehr über 4xx Fehler <a href="https://tools.ietf.org/html/rfc7231#section-6.5.4">hier ...</a>




          </div>
          {{ if .Params.intro_image }}
          <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
            <img
              class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
              src="{{ .Params.intro_image | relURL }}" />
              
          </div>
          {{ end }}

        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
