{{ define "title" }}Michael Hintz{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}



{{ define "main" }}

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ .Content }}
        {{ partial "call.html" . }}
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}" src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ end }}
    </div>
  </div>
</div>











{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="container pt-8 pt-md-12 pb-md-12">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="mb-3">Methoden und Einflüsse</h2>
    </div>

    {{ range first 6 (sort $services ".Params.weight") }}
    <div class="col-12 col-md-4 mb-1">
      {{ .Render "summary" }}
    </div>
    {{ end }}
    <div class="col-12 text-center">
  <a class="button button-primary" href="{{ .Site.BaseURL }}services">Alles ansehen</a>
  <br><br>
    </div>
  </div>
</div>
{{end}}


{{ $faq := where (where .Site.RegularPages "Type" "faq") ".Params.featured" true }}
{{if gt (len $faq) 0}}
<div class="container pt-8 pt-md-12 pb-md-12 strip round-1">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="mb-3">Fragen und Antworten</h2>
    </div>

    {{ range first 3 (sort $faq ".Params.weight") }}
    <div class="col-12 col-md-4 mb-1 round-1">
      {{ .Render "summary" }}
    </div>
    {{ end }}
    <div class="col-12 text-center round-1">
      <a class="button button-primary" href="{{ .Site.BaseURL }}faq">Alles ansehen</a>
      <br><br>
    </div>
  </div>
</div>
<br>
{{end}}




  </div>
</div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ end }}
